
// I don't know what style the 
// website should be so I figured
// why not make everything a variable!

// also https://lesscss.org/

@font-family: "Ubuntu", sans-serif;

@colors: {
  main     : #FFF;
  secondary: #EEE;
}

@border: {
  width: 1px;
  radius: 4px;
}

@padding: 15px;

html, body {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;

  font-family: @font-family;
}
#nav-holder {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  padding: 10px;
  
  #nav {
    background-color: @colors[main];
    
    display: flex;
    justify-content: space-between;
    align-content: center;
  
    border: solid @border[width] @colors[secondary];
    border-radius: @border[radius];
  
    overflow: hidden;
    
    #nav-background {
      position: absolute;
      top: 0px;
      left: 0px;
      
      filter: blur(1rem);
  
      pointer-events: none;
    }
    
    #nav-title {
      padding: @padding;

      border-right: solid @border[width] @colors[secondary];
    }
    #nav-options {
      display: flex;
      justify-content: space-between;
    
      padding: @padding;
    
      .nav-option{
        cursor: default;
        
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

#center {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 50vh;
  
  #center-text {
    font-size: 5em;
  }

  #center-svg {
    // background-color: #EEE;
    
    z-index: -1;

    width: 100vw;
    height: 60vh;
    
    position: absolute;

    top: 0px;
    left: 0px;
  }
}

#nav-space {
  // height: 50px;
}

#page {
  padding: @padding;
}

#names {
  .name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    border: solid @border[width] @colors[secondary];
    border-radius: @border[radius];

    padding: @padding;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .name-stuff {
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      flex-grow: 2;

      .name-left {
        .name-stats {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
    
          * {
            margin-left: @padding;
          }
          
          .name-link {
            color: #000;
            text-decoration: none;
      
            font-weight: 500;
          }
    
          .name-username {
            color: #AAA;
    
            font-weight: 100;
          }
        }

        .name-right {
          .name-icons {
            .icon {
              
            }
          }
        }
      }
    }

    .name-image {
      border: solid @border[width] @colors[secondary];
      
      border-radius: 50%;
    }
  }
}